.navbar{
    font-weight: 800;
}
.logo {
  width: 100px;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
  scale: 1.9;
}

/* Remove scale on mobile view */
@media (max-width: 600px) {
  .logo {
    scale: 1;
  }
}

.logo:hover {
  transform: scale(1.05);
}